
<div class = "container">
    
    <table>
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>idade</th>
            <th>cpf</th>
            <th>cnh</th>
            <th>gmail</th>
        </tr>
        {% for cadastro in cadastros %}
        <tr>
            <td>{{cadastro.id_cadastro}}</td>
            <td>{{cadastro.nome}}</td>
            <td>{{cadastro.idade}}</td>
            <td>{{cadastro.cpf}}</td>
            <td>{{cadastro.cnh}}</td>
            <td>{{cadastro.gmail}}</td>
        </tr>
        {% endfor %}
    </table>

    <table>
        <tr>
            <th>id</th>
            <th>cidade_retirada</th>
            <th>dia_retirada</th>
            <th>dia_devolucao</th>
            <th>tamanho</th>
            <th>cor</th>
        </tr>
        {% for preferencia in preferencias %}
        <tr>
            <td>{{preferencia.id_preferencias}}</td>
            <td>{{preferencia.cidade_retirada}}</td>
            <td>{{preferencia.dia_retirada}}</td>
            <td>{{preferencia.dia_devolução}}</td>
            <td>{{preferencia.tamanho}}</td>
            <td>{{preferencia.cor}}</td>
        </tr>
        {% endfor %}
    </table>
</div>


