<div class = "container">
    <table>
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>idade</th>
            <th>cpf</th>
            <th>cnh</th>
            <th>gmail</th>
        </tr>
        {% for cadastro in cadastros %}
        <tr>
            <td>{{cadastro.id}}</td>
            <td>{{cadastro.nome}}</td>
            <td>{{cadastro.idade}}</td>
            <td>{{cadastro.cpf}}</td>
            <td>{{cadastro.cnh}}</td>
            <td>{{cadastro.gmail}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
