<nav>
    <form action="{% url 'informações_cadastradas' %}"method="post"> 
        {% csrf_token %}
        <h1>Aluguel de carros com os melhores valores!</h1>
        <h2>O que a nossa Tita oferece para você?</h2>
        <p>Oferecemos os melhores carros com um valor super acessível</p>
        <h4>Campo Obrigatório*</h4>
        <div> Nome <input name="nome" type="text"></div>
        <br>
        <div>Idade <input name="idade" type="number"></div>
        <br>
        <div>Gmail <input name="gmail" type="text"></div>
        <br>
        <div>CPF <input name ="cpf" type="text" name="" id=""></div>
        <br>
        <div>CNH <input name = "cnh" type="" name="" id=""></div>
        <br>
        <button>Entrar</button>
    </nav>
    </form>
    